{% comment %}
    The main javascript files for inclusion in the different templates

    @author Paul Imisi
    @data 19/05/2015
{% endcomment %}
{% load staticfiles %}
<!-- jQuery -->
<script src="{% static 'js/_libs/jquery.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/_libs/bootstrap.min.js' %}"></script>
<script src="{% static 'js/_libs/form-validation.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'js/_libs/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/_libs/jquery.fittext.js' %}"></script>
<script src="{% static 'js/_libs/wow.min.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'js/_libs/yadx.js' %}"></script>

<!-- Angular Script -->
<script src="{% static 'js/_libs/jquery.js' %}"></script>
<script src="{% static 'js/_libs/angular/1.4.0-rc.1/angular.js' %}"></script>
<script src="{% static 'js/_libs/angular/1.4.0-rc.1/angular-route.js' %}"></script>
<script src="{% static 'js/_libs/angular/1.4.0-rc.1/angular-resource.js' %}"></script>
<script src="{% static 'js/_libs/angular/1.4.0-rc.1/angular-sanitize.js' %}"></script>
<script src="{% static 'js/_libs/angular/1.4.0-rc.1/angular-animate.js' %}"></script>
<script src="{% static 'js/_libs/angular/1.4.0-rc.1/angular-cookies.js' %}"></script>
<script src="{% static 'js/_libs/angular/1.4.0-rc.1/angular-messages.js' %}"></script>
<script src="{% static 'js/app.module.js' %}"></script>
<script src="{% static 'js/app.config.js' %}"></script>
<script src="{% static 'js/app.run.js' %}"></script>
<script src="{% static 'js/directives.js' %}"></script>
<script src="{% static 'js/filters.js' %}"></script>
<script src="{% static 'js/app.run.js' %}"></script>
{#<script src="{% static 'js/_libs/modal.js' %}"></script>#}
{#<script src="{% static 'js/_libs/autosize.js' %}"></script>#}
<script src="{% static 'js/_libs/angular/angular-ui-router.js' %}"></script>
<script src="{% static 'js/_libs/angular/angular-storage.js' %}"></script>
<script src="{% static 'js/_libs/angular/angular-jwt.js' %}"></script>
{#<script src="{% static 'js/_libs/angular/angular-ui-bootstrap-modal.js' %}"></script>#}
<script src="{% static 'js/_libs/angular/ui-bootstrap-tpls-0.13.0.js' %}"></script>
{#<script src="{% static 'js/_libs/angular/django-angular.js' %}"></script>#}
{#<script src="{% static 'js/_libs/angular/angular-tags-0.3.1.js' %}"></script>#}
{#<script src="{% static 'js/_services/alert.service.js' %}"></script>#}
{#<script src="{% static 'js/_services/modal.service.js' %}"></script>#}
{#<script src="{% static 'js/_services/factories/alerting.service.js' %}"></script>#}
